[submodule "reapack-jm"]
	path = reapack-jm
	url = https://github.com/jozmac/reapack-jm
[submodule "TukanStudios_JSFX"]
	path = TukanStudios_JSFX
	url = https://github.com/TukanStudios/TUKAN_STUDIOS_PLUGINS
[submodule "ReJJ"]
	path = ReJJ
	url = https://github.com/Justin-Johnson/ReJJ
[submodule "chkhld_JSFX"]
	path = chkhld_JSFX
	url = https://github.com/chkhld/jsfx
